.profile {
  display: flex;
  flex-direction: row;
  max-width: 880px;
  margin: 0 auto;
  align-items: center;
  padding-top: 36px;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  .profile {
    max-width: 581px;
    flex-direction: column;
  }
}
@media screen and (max-width: 590px) {
  .profile {
    max-width: 282px;
  }
}
