.forms__title {
  font-family: Inter,sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 44px 0;
  padding: 0;
}

@media screen and (max-width: 590px) {
  .forms__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom:76px;
  }
}
