.page {
  background: #000000;
  font-family: Inter, sans-serif;
  font-style: normal;
  color: #ffffff;
  margin: 0 auto -100px;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
